<ng-container *ngIf="accident$ | async as accident">

  <h1 class="incidents-title">
    {{accident.MDA}}
  </h1>

  <h3>injuries</h3>
  <div class="incidents">
    <div class="incidents-details">
      <div class="incident" *ngFor="let injury of accident.injuries">
        <div class="circle" [ngClass]="injury.severity"></div>
        <div class="incident-info">
          <h3 class="description">{{injury.location}}</h3>
          <p class="details">{{ injury.description }}</p>
        </div>
      </div>
    </div>

    <div class="incidents-map" *ngIf="accident.gps as gps">
      <agm-map [latitude]="gps.latitude" [longitude]="gps.longitude">
        <agm-marker [latitude]="gps.latitude" [longitude]="gps.longitude"></agm-marker>
      </agm-map>
    </div>

  </div>

</ng-container>
