.appContainer {
  --side-menu-width: 250px;
  --main-layout-grid: "header header"
                      "menu main";
  display: grid;
  min-height: 100vh;
  grid-template-columns: var(--side-menu-width) 8fr;
  grid-template-rows: 70px auto;
  grid-template-areas: var(--main-layout-grid, "header" "main");
}

app-header-bar {
  grid-area: header;
  color: var(--app-color-secondary-contrast);
  background: var(--app-color-secondary);
}

app-side-menu {
  grid-area: menu;
  background: var(--app-color-primary);
  color: var(--app-color-primary-contrast);
}

main {
  max-width: 900px;
  margin: 1em auto;
  width: 100%;
  grid-area: main;
}