<div class="app-side-menu">
  <div class="userInfo">
    
    <img class="avatar" src="https://via.placeholder.com/50x50">

    <div class="info">
      <span class="userName" >user name</span>
      <div class="time">
        <i class="material-icons">
          watch_later
        </i> 19/12/19
      </div>
    </div>

  </div>

  <div class="devider">
    <hr />
  </div>

  <nav>
    <ul>
      <li class="nav-item">
        <i class="material-icons">
          palette
        </i>
        <span>Dasboard</span> </li>
    </ul>
  </nav>

</div>
